<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="./js/jquery-3.5.1.js"></script>
    <script src="./js/websocket.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" id="send-body"/>
        <select v-model="selected">
            <option value="" disabled>---请选择用户---</option>
            <option :id="'op'+index" v-for="(item,index) in opList" key="index">{{item}}</option>
        </select>
        <button id="on-send" @click="sendMessageBody">{{sendBtn}}</button>
        <br/>
        <p style="color:deeppink"><b>{{selectedTitle}}:</b></p>
        <span style="color: red">{{selected}}</span>
        <br/>
        <strong style="color: chartreuse">{{messageTitle}}:</strong>
        <br/>
        <span id="msg-body" style="color:dodgerblue"></span>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.min.js"></script>
    <script>
        let vm = new Vue({
            el: "#app",
            data: {
                selected: '',
                sendBtn: "发给服务器",
                messageTitle: "来自服务器的消息",
                selectedTitle:"要推送的用户",
                opList:[1,2,3,4,5,6]
            },
            methods: {
                sendMessageBody: function () {
                    //如果指定发送对象就定点推送，如果没有则群发
                    let personList=this.selected!==''?[userId,this.selected]:[];
                    let data = {
                        "persons": personList,
                        "msg": $('#send-body').val()
                    };
                    wsObj.send(JSON.stringify(data));
                },
            },
            mounted(){
                createWebSocket();
            }
        });
    </script>
</body>
</html>
